#
# These groups are read by MariaDB command-line tools
# Use it for options that affect only one utility
#

[mysql]
port=3306
default-character-set=utf8
socket=/var/lib/mysql/mysqld.sock

[mysql_upgrade]

[mysqladmin]

[mysqlbinlog]

[mysqlcheck]

[mysqldump]
quick
max_allowed_packet=16M

[mysqlimport]

[mysqlshow]

[mysqlslap]


